<h1>Bulk Discount <%=@bulk_discount.id%></h1>
<%=link_to "Edit", edit_merchant_bulk_discount_path(@merchant, @bulk_discount)%>
Percentage Discount: <%=@bulk_discount.percentage_discount%>%<br>
Quantity Threshold: <%=@bulk_discount.quantity_threshold%><br>